<div class="nav-bar">
    <ul class="nav-list">
        <li class="nav-item"><a target="_blank" href="https://mail.google.com/mail/?tab=wm">Gmail</a></li>
        <li class="nav-item"><a target="_blank"
                href="https://www.google.co.uk/imghp?hl=en&tab=wi&ei=7sfqVtCHG6TgyQOjo7d4&ved=0EKouCBUoAQ">Images</a>
        </li>
        <li class="nav-item"><a href="#"><i class="fas fa-th"></i></a></li>
        <li class="nav-item"><a href="#"><i class="fas fa-user-circle"></i></a></li>
    </ul>
</div>
<div class="clearfix"></div>
<div class="center">
    <img class="pure-img logo" src="//www.google.com/logos/doodles/2015/googles-new-logo-5078286822539264.3-hp2x.gif"
        alt="logo">
    <form action="/" method="POST">
        <div class="wrap-input">
            <svg class="icon-search" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path
                    d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z">
                </path>
            </svg>
            <input name="key_word" type="text">
        </div>
        <button type="submit" class="pure-button">Google Search</button>
        <a href="https://www.google.com/doodles/" class="pure-button">I'm Feeling Lucky</a>
    </form>
    <div class="language">Google offered in: <a
            href="https://www.google.com/setprefs?sig=0_kInc8NGk__kk2saoDkQPBKKLqdc%3D&hl=vi&source=homepage&sa=X&ved=0ahUKEwj_w_mamvDpAhVuzDgGHTcpBa4Q2ZgBCA8">Tiếng
            Việt</a>
        <a
            href="https://www.google.com/setprefs?sig=0_kInc8NGk__kk2saoDkQPBKKLqdc%3D&hl=fr&source=homepage&sa=X&ved=0ahUKEwjG85PPmvDpAhWS9nMBHaB1AucQ2ZgBCBA">Français</a>
        <a
            href="https://www.google.com/setprefs?sig=0_kInc8NGk__kk2saoDkQPBKKLqdc%3D&hl=zh-TW&source=homepage&sa=X&ved=0ahUKEwi909eDm_DpAhXFIbcAHR-WDEwQ2ZgBCBE">中文（繁體)</a>
    </div>
</div>
<div class="result">
    {{#if data}}
    <p>You searched for keywords: "<a href="https://www.google.com/search?q={{data}}">{{data}}</a>"</p>
    {{/if}}
</div>

<div class="ctr-p" id="footer">
    <div id="fbarcnt" style="height: auto; visibility: visible;">
        <div id="footcnt">
            <div class="EvHmz hRvfYe" id="fbar">
                <div class="fbar">
                    <div class="b2hzT">
                        <div class="b0KoTc"><span class="Q8LRLc">Vietnam</span></div>
                    </div><span id="fsr"><a class="Fx4vi" href="https://policies.google.com/privacy?fg=1"
                            ping="/url?sa=t&amp;rct=j&amp;source=webhp&amp;url=https://policies.google.com/privacy%3Ffg%3D1&amp;ved=0ahUKEwjntdC4m_DpAhWv7HMBHXWSAX0Q8awCCBQ">Privacy</a><a
                            class="Fx4vi" href="https://policies.google.com/terms?fg=1"
                            ping="/url?sa=t&amp;rct=j&amp;source=webhp&amp;url=https://policies.google.com/terms%3Ffg%3D1&amp;ved=0ahUKEwjntdC4m_DpAhWv7HMBHXWSAX0Q8qwCCBU">Terms</a><span
                            style="display:inline-block;position:relative"><a class="Fx4vi"
                                href="https://www.google.com/preferences?hl=en" id="fsettl" aria-controls="fsett"
                                aria-expanded="false" aria-haspopup="true" role="button" jsaction="foot.cst"
                                ping="/url?sa=t&amp;rct=j&amp;source=webhp&amp;url=https://www.google.com/preferences%3Fhl%3Den&amp;ved=0ahUKEwjntdC4m_DpAhWv7HMBHXWSAX0Qzq0CCBY">Settings</a><span
                                id="fsett" aria-labelledby="fsettl" role="menu" style="display:none"><a
                                    href="https://www.google.com/preferences?hl=en-VN&amp;fg=1" role="menuitem">Search
                                    settings</a><a href="/advanced_search?hl=en-VN&amp;fg=1" role="menuitem">Advanced
                                    search</a><a
                                    href="//myactivity.google.com/privacyadvisor/search?utm_source=googlemenu&amp;fg=1"
                                    role="menuitem">Your data in Search</a><a
                                    href="//myactivity.google.com/product/search?utm_source=google&amp;hl=en-VN&amp;fg=1"
                                    role="menuitem">History</a><a
                                    href="//support.google.com/websearch/?p=ws_results_help&amp;hl=en-VN&amp;fg=1"
                                    role="menuitem">Search help</a><a href="#" data-bucket="websearch" role="menuitem"
                                    id="dk2qOd" target="_blank" jsaction="gf.sf"
                                    data-ved="0ahUKEwjntdC4m_DpAhWv7HMBHXWSAX0QLggX">Send
                                    feedback</a></span></span></span><span id="fsl"><a class="Fx4vi"
                            href="https://www.google.com/intl/en_vn/ads/?subid=ww-ww-et-g-awa-a-g_hpafoot1_1!o2&amp;utm_source=google.com&amp;utm_medium=referral&amp;utm_campaign=google_hpafooter&amp;fg=1"
                            ping="/url?sa=t&amp;rct=j&amp;source=webhp&amp;url=https://www.google.com/intl/en_vn/ads/%3Fsubid%3Dww-ww-et-g-awa-a-g_hpafoot1_1!o2%26utm_source%3Dgoogle.com%26utm_medium%3Dreferral%26utm_campaign%3Dgoogle_hpafooter%26fg%3D1&amp;ved=0ahUKEwjntdC4m_DpAhWv7HMBHXWSAX0QkdQCCBg">Advertising</a><a
                            class="Fx4vi"
                            href="https://www.google.com/services/?subid=ww-ww-et-g-awa-a-g_hpbfoot1_1!o2&amp;utm_source=google.com&amp;utm_medium=referral&amp;utm_campaign=google_hpbfooter&amp;fg=1"
                            ping="/url?sa=t&amp;rct=j&amp;source=webhp&amp;url=https://www.google.com/services/%3Fsubid%3Dww-ww-et-g-awa-a-g_hpbfoot1_1!o2%26utm_source%3Dgoogle.com%26utm_medium%3Dreferral%26utm_campaign%3Dgoogle_hpbfooter%26fg%3D1&amp;ved=0ahUKEwjntdC4m_DpAhWv7HMBHXWSAX0QktQCCBk">Business</a><a
                            class="Fx4vi"
                            href="https://about.google/?utm_source=google-VN&amp;utm_medium=referral&amp;utm_campaign=hp-footer&amp;fg=1"
                            ping="/url?sa=t&amp;rct=j&amp;source=webhp&amp;url=https://about.google/%3Futm_source%3Dgoogle-VN%26utm_medium%3Dreferral%26utm_campaign%3Dhp-footer%26fg%3D1&amp;ved=0ahUKEwjntdC4m_DpAhWv7HMBHXWSAX0QkNQCCBo">About</a><a
                            class="Fx4vi" href="//google.com/search/howsearchworks/?fg=1"> How Search works </a></span>
                </div>
            </div>
        </div>
    </div>
</div>